<template>
<div  class="badge">
 <v-app>
	<div class="text-xs-center">
    <v-badge left>
      <span slot="badge">6</span>
      <v-icon large color="grey lighten-1">shopping_cart</v-icon>
    </v-badge>

    <v-badge color="red">
      <span slot="badge">!</span>
      <v-icon large color="grey">mail</v-icon>
    </v-badge>
  </div>
</v-app>
</div>
</template>

<script>
  import axios from 'axios'
  export default{
    name: 'badge',
    data () {
      return {
        get_service: 'nothing',
        username_: '',
        password_: '',
        post_service: 'nott',
        title: '*salam bar hamegi*',
        flag: false
      }
    },
    methods: {
      Login_func: function () {
        var self = this
        axios.post('webservice/login', {'UserName': self.username_, password: self.password_})
        .then(response => {
          self.post_service = response.data
          console.log(self.post_service)
        })
        .catch(e => {
          self.errors.push(e)
        })
      }
    }
  }
</script>

<style>
</style>
