<template>
	<div class="loginpage">
        <input type="text" v-model="username_"><br>
        <input type="text" v-model="password_"><br>
    
		<button v-on:click="Login_func">LOGIN</button><br>
		
		<hr>
	</div>
</template>

<script>
  import axios from 'axios'
  export default{
    name: 'loginpage',
    props: {
      msg: {
        type: String,
        default: 'Welcome'
      }
    },
    data () {
      return {
        get_service: 'nothing',
        username_: '',
        password_: '',
        post_service: 'nott',
        title: '*salam bar hamegi*',
        flag: false
      }
    },
    methods: {
      Login_func: function () {
        var self = this
        axios.post('webservice/login', {'UserName': self.username_, password: self.password_})
        .then(response => {
          self.post_service = response.data
          console.log(self.post_service)
        })
        .catch(e => {
          self.errors.push(e)
        })
      }
    }
  }
</script>

<style>
</style>
