<template>
	<div class="menucmpnt">
   <v-app>
   <div class="text-xs-center">
    <v-menu open-on-hover top offset-y>
      <v-btn color="primary" dark slot="activator">Dropdown</v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div> 
  <div class="text-xs-center">
    <v-menu offset-y>
      <v-btn color="primary" dark slot="activator">Dropdown</v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" @click="">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
  </v-app>
	</div>
</template>

<script>
  import axios from 'axios'
  export default{
    name: 'menucmpnt',
    props: {
      msg: {
        type: String,
        default: 'Welcome'
      }
    },
    data () {
      return {
       items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' }
      ] 
      }
    },
    methods: {
      
    }
  }
</script>

<style>
</style>