/* eslint-disable */
<template>
	<div class="test">
		<span v-html="titletpl">
			
		</span>
		<p>  {{title}}</p>
		<p v-if="flag">   This Is V -IF</p>
		<p v-else="flage">Flag is false</p>
		<p > {{user.firstname}} {{user.lastname}}</p>
		<p v-for="item in users"> {{item.firstname}}  {{item.lastname}}</p>
		<button  v-on:click="reversflage(flag)">Reverse Flag</button>
		<button  v-on:click="click_me">Click To Alert</button><br>
    <button  v-on:click="testGet">Get button</button><br>
    <button  v-on:click="testPost">post button</button><br>
		<input type="text" v-on:keyup="presskey"><br>
    <input type="text" v-model="get_service"><br>
    <input type="text" v-model="post_service"><br>
    <input type="text" v-model="username_"><br>
    <input type="text" v-model="password_"><br>
		<input type="text" v-on:keyup.enter="enterdata">
		<hr>
		<p>{{fullname}}</p>

		<br>
		<h2>  {{msg}}</h2>


	</div>
</template>

<script>
  import axios from 'axios'
  export default{
    name: 'test',
    props: {
      msg: {
        type: String,
        default: 'Welcome'
      }
    },
    data () {
      return {
        get_service: 'nothing',
        username_: '',
        password_: '',
        post_service: 'nott',
        title: '*salam bar hamegi*',
        titletpl: '<h1> first project</h1>',
        flag: false,
        user: {firstname: 'Fateme', lastname: 'Yousefifard'},
        users: []
      }
    },
    methods: {
      reversflage: function (f) {
        this.flag = !f
        console.log(this.flag)
      },
      click_me: function () {
        alert('clicke me')
      },
      presskey: function () {
        alert('you Pressed The input')
      },
      enterdata: function (e) {
        console.log(e.target.value)
      },
      testGet: function () {
        var self = this
        axios.get('/webservice/test_get')
        .then(function (response) {
          self.get_service = response.data
          console.log(self.get_service)
        })
        .catch(function (error) {
          console.log(error)
        })
      },
      testPost: function () {
        var self = this
        axios.post('webservice/login', {'UserName': self.username_, password: self.password_})
        .then(response => {
          self.post_service = response.data
          console.log(self.post_service)
        })
        .catch(e => {
          self.errors.push(e)
        })
      }
    },
    computed: {
      fullname: function () {
        return this.user.firstname + ' ' + this.user.lastname
      }
    }
  }
</script>

<style>
</style>
