<template>
	<div class="textfieldcmpnt">
    <v-app light>
      <v-navigation-drawer app> navigation </v-navigation-drawer>
        <v-toolbar app>   toolbar</v-toolbar>
<v-content>
  <v-card color="grey lighten-4" flat>
    <v-card-text>
      <v-container fluid>
        <v-layout row> 
          <v-flex xs4><v-subheader>Name_fa</v-subheader></v-flex> 
          <v-flex xs8><v-text-field name="input-1-3" label="Hint Text" single-line ></v-text-field> </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>  <v-subheader>Price</v-subheader>  </v-flex>
          <v-flex xs8><v-text-field name="input-2-3" label="Hint Text" class="input-group--focused" single-line ></v-text-field></v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4><v-subheader>QTY</v-subheader></v-flex>
          <v-flex xs8><v-text-field name="input-3-3" label="Hint Text" value="Input text" class="input-group--focused" single-line></v-text-field></v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4> <v-subheader>discount</v-subheader> </v-flex>
          <v-flex xs8> <v-text-field name="input-3-4" label="Hint Text" value="Input text" single-line ></v-text-field> </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4><v-subheader>ship way</v-subheader> </v-flex>
          <v-flex xs8><v-text-field name="input-3-5" label="Hint Text" value="Input text"  :rules="[() => 'Username or Password is incorrect.']"   error  single-line></v-text-field>  </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>   <v-subheader>Add Picture</v-subheader>   </v-flex>
          <v-flex xs8><v-text-field name="input-3-6" label="Label Text" value="Input text"  single-line></v-text-field> </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</v-content>
  <v-footer app>  footer</v-footer>

    </v-app>
	</div>
</template>

<script>
  import axios from 'axios'
  export default{
    name: 'textfieldcmpnt',
    props: {
      msg: {
        type: String,
        default: 'Welcome'
      }
    },
    data () {
      return {
        rules: [
          () => 'Username or Password is incorrect'
        ]
      }
    },
    methods: {
      
    }
  }
</script>

<style>
</style>