<template>
	<div class="wall">
        <v-app id="inspire">
     <div>
    <v-alert color="success" icon="check_circle" value="true">
      This is a success alert.
    </v-alert>

    <v-alert color="info" icon="info" value="true">
      This is a info alert.
    </v-alert>

    <v-alert color="warning" icon="priority_high" value="true">
      This is a warning alert.
    </v-alert>

    <v-alert color="error" icon="warning" value="true">
      This is a error alert.
    </v-alert></div>
    <div>
      <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-actions>
          <v-select label="Size" :items="items" v-model="size"></v-select>
          <v-spacer></v-spacer>
        </v-card-actions>
        <v-container fluid v-bind="{ [`grid-list-${size}`]: true }">
          <v-layout row wrap>
            <v-flex
              xs4
              v-for="n in 9"
              :key="n"
            >
              <v-card flat tile>
                <v-card-media
                  :src="`https://unsplash.it/150/300?image=${Math.floor(Math.random() * 100) + 1}`"
                  height="150px"
                >
                </v-card-media>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
    </div>
      </v-app>

  </div>
	
</template>

<script>
  import axios from 'axios'
  export default{
    name: 'wall',
    data () {
      return {
        get_service: 'nothing',
        username_: '',
        password_: '',
        post_service: 'nott',
        title: '*salam bar hamegi*',
        flag: false,
        size: 'sm',
        items: [
        { text: 'Extra small (1px)', value: 'xs' },
        { text: 'Small (4px)', value: 'sm' },
        { text: 'Medium (8px)', value: 'md' },
        { text: 'Large (16px)', value: 'lg' },
        { text: 'Extra large (24px)', value: 'xl' }]
      }
    }
  }
</script>

<style>
</style>




