<template>
  <div id="app">
    <loginpage></loginpage> 
    <test> </test>
    <selectcmpnt> </selectcmpnt>
  </div>
</template>

<script>
import test from './components/Test.vue'
import loginpage from './components/loginpage.vue'
import formcmpnt from './components/formcmpnt'
import menucmpnt from './components/menucmpnt'
import selectcmpnt from './components/selectcmpnt'
import textfieldcmpnt from './components/textfieldcmpnt'

export default {
  name: 'app',
  components: {
    test, loginpage
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
